.vscode
out
esp
serial*.log
serial*.txt
.vs
.idea/
.trae
out/draw.o
/esp
/mnt
/out
/xlibc
/open-vmdk-master
/compile_commands.json
.cache
.config
.ninja_deps
.ninja_log
__pycache__/
*.py[cod]
include/generated/
kernel/build_config.h

bash-*

*.img
*.vmdk
/XJ380-installer.iso
*.tags
*.elf
*.o
*.d
*.xz
*.zip
!Bf/
!Bf/**
Bf/usr/
Bf/var/
Bf/xbps-cache/
Bf/xbps-root/
2.txt
out.txt
nvme.txt
ide.txt
SATA.txt
scsi.txt

# will generate by Makefile
.clangd

build.ninja

.codex

XJ380/

venv/
